spring:
  application:
    name: "SupportIQ"
  #datasource configurations
  datasource:
    url: jdbc:mysql://localhost:3306/SupportIQ_Storage?useSSL=false&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        options:
          model: phi3:mini

    chat:
      memory:
        repository:
          jdbc:
            initialize-schema: always
  profiles:
    active: dev


server:
  port: 8081

logging:
  level:
    org:
      springframework:
        ai:
          chat:
            client:
              advisor: DEBUG


#database configurations

another:
  student: true